---
export interface Props {
  size?: number;
}
const { size = 20 } = Astro.props;

const links = [
  {
    label: "LinkedIn",
    href: "https://www.linkedin.com/in/andrea-ricciotti-3a351b159/",
    svg: `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M20.447 20.452h-3.554v-5.569c0-1.328-.027-3.037-1.852-3.037-1.853 0-2.136 1.445-2.136 2.939v5.667H9.351V9h3.414v1.561h.046c.477-.9 1.637-1.85 3.37-1.85 3.601 0 4.267 2.37 4.267 5.455v6.286zM5.337 7.433a2.062 2.062 0 0 1-2.063-2.065 2.064 2.064 0 1 1 2.063 2.065zm1.782 13.019H3.555V9h3.564v11.452zM22.225 0H1.771C.792 0 0 .774 0 1.729v20.542C0 23.227.792 24 1.771 24h20.451C23.2 24 24 23.227 24 22.271V1.729C24 .774 23.2 0 22.222 0h.003z"/></svg>`,
  },
  {
    label: "Instagram",
    href: "https://www.instagram.com/andrea_ricciotti1/",
    svg: `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M12 2.163c3.204 0 3.584.012 4.85.07 3.252.148 4.771 1.691 4.919 4.919.058 1.265.069 1.645.069 4.849 0 3.205-.012 3.584-.069 4.849-.149 3.225-1.664 4.771-4.919 4.919-1.266.058-1.644.07-4.85.07-3.204 0-3.584-.012-4.849-.07-3.26-.149-4.771-1.699-4.919-4.92-.058-1.265-.07-1.644-.07-4.849 0-3.204.013-3.583.07-4.849.149-3.227 1.664-4.771 4.919-4.919 1.266-.057 1.645-.069 4.849-.069zM12 0C8.741 0 8.333.014 7.053.072 2.695.272.273 2.69.073 7.052.014 8.333 0 8.741 0 12c0 3.259.014 3.668.072 4.948.2 4.358 2.618 6.78 6.98 6.98C8.333 23.986 8.741 24 12 24c3.259 0 3.668-.014 4.948-.072 4.354-.2 6.782-2.618 6.979-6.98.059-1.28.073-1.689.073-4.948 0-3.259-.014-3.667-.072-4.947-.196-4.354-2.617-6.78-6.979-6.98C15.668.014 15.259 0 12 0zm0 5.838a6.162 6.162 0 1 0 0 12.324 6.162 6.162 0 0 0 0-12.324zM12 16a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm6.406-11.845a1.44 1.44 0 1 0 0 2.881 1.44 1.44 0 0 0 0-2.881z"/></svg>`,
  },
  {
    label: "IMDb",
    href: "https://www.imdb.com/it/name/nm10527696/",
    svg: `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M14.31 9.588v.005c-.077-.048-.227-.07-.42-.07v4.815c.27 0 .44-.06.5-.165.062-.104.095-.404.095-.89V10.44c0-.427-.012-.695-.04-.8a.347.347 0 0 0-.135-.052zM0 7.5v9h24v-9H0zm4.432 6.986H3.019V9.514H4.43v4.972zm4.03 0H7.22l-.001-3.373-.434 3.373h-.912l-.448-3.278-.001 3.278H4.18V9.514h1.786s.387 2.45.404 2.701c.072-.5.45-2.7.45-2.7h1.641v4.971zm4.282-.7c0 .45-.04.76-.127.93-.083.166-.222.296-.413.395-.19.097-.465.145-.822.145H9.93V9.514h1.391c.4 0 .698.04.893.117.195.08.345.19.447.337.1.148.164.3.19.463.025.16.038.44.038.836v2.519zm4.476-.35c0 .459-.033.785-.1.977-.069.192-.187.335-.352.43-.168.093-.38.14-.64.14-.22 0-.406-.04-.558-.118a.967.967 0 0 1-.368-.37l-.076.42h-1.27V9.514h1.346v1.71a.979.979 0 0 1 .376-.354c.153-.08.333-.12.538-.12.233 0 .433.052.597.154.165.104.277.228.335.374.06.146.09.396.09.75l.082 2.408z"/></svg>`,
  },
  {
    label: "Spotify",
    href: "https://open.spotify.com/user/1171026149?si=2fc376ed38d440f1",
    svg: `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M12 0C5.4 0 0 5.4 0 12s5.4 12 12 12 12-5.4 12-12S18.66 0 12 0zm5.521 17.34c-.24.359-.66.48-1.021.24-2.82-1.74-6.36-2.101-10.561-1.141-.418.122-.779-.179-.899-.539-.12-.421.18-.78.54-.9 4.56-1.021 8.52-.6 11.64 1.32.42.18.479.659.301 1.02zm1.44-3.3c-.301.42-.841.6-1.262.3-3.239-1.98-8.159-2.58-11.939-1.38-.479.12-1.02-.12-1.14-.6-.12-.48.12-1.021.6-1.141C9.6 9.9 15 10.561 18.72 12.84c.361.181.54.78.241 1.2zm.12-3.36C15.24 8.4 8.82 8.16 5.16 9.301c-.6.179-1.2-.181-1.38-.721-.18-.601.18-1.2.72-1.381 4.26-1.26 11.28-1.02 15.721 1.621.539.3.719 1.02.419 1.56-.299.421-1.02.599-1.559.3z"/></svg>`,
  },
  {
    label: "Email",
    href: "mailto:andrearicciotti1@gmail.com",
    svg: `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M20 4H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 4-8 5-8-5V6l8 5 8-5v2z"/></svg>`,
  },
];
---

<div class="social-icons">
  {links.map((link) => (
    <a href={link.href} target={link.label !== "Email" ? "_blank" : undefined} rel={link.label !== "Email" ? "noopener noreferrer" : undefined} aria-label={link.label}>
      <Fragment set:html={link.svg} />
    </a>
  ))}
</div>

<style define:vars={{ size: size + "px" }}>
  .social-icons {
    display: flex;
    gap: 1rem;
    align-items: center;
  }
  .social-icons a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text);
    opacity: 0.7;
    transition: opacity 0.2s ease;
    width: var(--size);
    height: var(--size);
  }
  .social-icons a:hover {
    opacity: 1;
    color: var(--accent);
  }
  .social-icons a svg {
    width: 100%;
    height: 100%;
  }
</style>
